{
  "algorithm": "OPENSSL",
  "compression": "GZ",
  "chmod": "0755",
  "main": "bin/gql2php",
  "output": "bin/gql2php.phar",

  "directories": ["src"],
  "finder": [
    {
      "name": "*.php",
      "exclude": ["test", "tests"],
      "in": "vendor"
    }
  ],
  "stub": true,
  "git-version": "package_version",
  "intercept": true,
  "key": ".travis/phar-private.pem"
}